<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      Nunjucks -
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <style>
    ul, ol { 
      margin: 0; 
      padding: 0;
    }
    li { list-style: none; }
    a {
      color: #000;
      text-decoration: none;
    }
    .current a { color: red; }
    </style>
  </head>
  <body>
    <header class="site-header">
      <p>
        header
      </p>
      <ul>
        <li class="">
          <a href="index.html">Home</a>
        </li>
        <li class="">
          <a href="about.html">About</a>
        </li>
        <li class="">
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </header>
    <div class="main">
      main contents
    </div>
    <footer class="site-footer">
      <p>
        footer
      </p>
    </footer>
  </body>
</html>
